<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-header pull-left navbar-brand thick">
      <b class="sw-text-white">Athelete</b>
    </a>
    <a routerLink="/"
       class="navbar-header pull-left navbar-brand thick">
      <b class="sw-text-white">Home</b>
    </a>
    <p class="navbar-text pull-right">
      <button routerLink="/login"
              *ngIf="user === ''"
              class="btn btn-xs navbar-link sw-button-transparent">
        <b>Login</b>
      </button>
    </p>
  </div>
</nav>
<div class="container">
  <hr/>
  <div class="raw">
    <div class="col-sm-4">
      <p>For many runners, the desire to do a marathon is about personal challenge. You might want to test your limits or prove that you can go the distance. Perhaps a friend has talked you into it. Maybe you'd like to lose weight, get healthier or raise awareness for a charity.</p>
      <button *ngIf="user.role !== 'admin'" (click)="runnerRegister()" class="btn btn-info btn-lg btn-block">Register as runner</button>
      <button *ngIf="user.role === 'admin'" (click)="runnerRegister()" class="btn btn-success btn-lg btn-block">Create new runner</button>
    </div>
    <div class="col-sm-4">
      <p>Marathon volunteers represent the best that a city has to offer: They’re helpful, enthusiastic, friendly, and proud of our amazing city. Fulfilling a volunteer opportunity on race day is a great way to pay it forward for your future marathon or to show your thanks for a past race.</p>
      <button *ngIf="user.role !== 'admin'" (click)="volunteerRegister()" class="btn btn-info btn-lg btn-block">Register as volunteer</button>
      <button *ngIf="user.role === 'admin'" (click)="volunteerRegister()" class="btn btn-success btn-lg btn-block">Create new volunteer</button>
    </div>
    <div class="col-sm-4">
      <p>A successfully planned and executed marathon can raise public awareness, and money, for a worthy cause. The logistics of planning a marathon is vary depending on the type of event. Many of the details involved in planning and hosting popular types of marathons.</p>
      <button *ngIf="user.role !== 'admin'" (click)="organizationRegister()" class="btn btn-info btn-lg btn-block">Register as organization</button>
      <button *ngIf="user.role === 'admin'" (click)="organizationRegister()" class="btn btn-success btn-lg btn-block">Create new organization</button>
    </div>
  </div>
</div>
