<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <a routerLink="/"
       class="navbar-header pull-left navbar-brand thick">
      <b class="sw-text-white">Athelete</b>
    </a>
    <p class="navbar-text pull-right">
      <button routerLink="/login"
              *ngIf="!login"
              class="btn btn-xs navbar-link sw-button-transparent">
        <b>Login</b>
      </button>
      <button routerLink="/choose"
              *ngIf="!login"
              class="btn btn-xs navbar-link sw-button-transparent">
        <b>Sign up</b>
      </button>
      <button routerLink="/user"
         *ngIf="login"
         class="btn btn-xs navbar-link sw-button-transparent glyphicon glyphicon-user sw-icon-padding sw-text-white">
      </button>
    </p>
  </div>
</nav>

<div class="container">
  <div id="myCarousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
      <li data-target="#myCarousel" data-slide-to="1"></li>
      <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
      <div class="item active">
        <img class="sw-img-slide"
             src="https://www.harmonygenevemarathon.com/images/uploads/heroes/marathon-header-en.jpg"
             alt="Los Angeles">
      </div>

      <div class="item">
        <img class="item active"
             src="https://media.wired.com/photos/59c7ae866d668e01c65b1046/2:1/w_2500,c_limit/Berlin-FA-852825046.jpg"
             alt="Chicago">
      </div>

      <div class="item">
        <img class="item active"
             src="https://eversport.tv/sites/default/files/marathon-frankfurt-.jpg"
             alt="New york">
      </div>
    </div>

    <!-- Left and right controls -->
    <a class="left carousel-control" href="#myCarousel" data-slide="prev">
      <span class="glyphicon glyphicon-chevron-left"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#myCarousel" data-slide="next">
      <span class="glyphicon glyphicon-chevron-right"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
</div>

<hr/>

<div class="container">
  <div class="input-group">
    <input [(ngModel)]="key"
           type="text"
           class="form-control"
           placeholder="Search events">
    <span class="input-group-btn">
           <a (click)="searchEvents()" class="btn btn-default" type="button">
               <span class="glyphicon glyphicon-search"></span>
           </a>
   </span>
  </div>
  <div class="container" *ngIf="events">
    <h4>Searching Results for '{{key}}'</h4>
    <div class="panel panel-default">
      <table class="table table-striped">
        <thead>
        <tr>
          <th>Name</th>
          <th>Organization</th>
          <th>Post time</th>
        </tr>
        </thead>
        <tbody *ngFor = "let event of events" >
          <tr>
            <td><a (click)="selectEvent(event._id)" class="btn sw-button-transparent sw-link sw-button-transparent">{{event.name}}</a></td>
            <td><a class="btn sw-button-transparent sw-link sw-button-transparent" data-toggle="modal" data-target="#myModal" (click)="selectOrg(event.orgId._id)">{{event.orgId.organization}}</a></td>
            <td>{{event.dateCreated}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <hr/>
  <div class="row">
    <div class="col-xs-6">
      <div class="col-xs-2">
      </div>
      <div class="col-xs-10">
        <h3>Weather Tracking</h3>
      </div>
      <form (ngSubmit)="searchWeather()"
            #f ="ngForm">
        <div>
          <div class="form-group col-xs-6">
            <input type="text"
                   id="state"
                   name="state"
                   required
                   ngModel
                   placeholder="Specify the state"
                   class="form-control"
                   #state="ngModel"/>
          </div>
          <div class="form-group col-xs-6">
            <input type="text"
                   id="city"
                   name="city"
                   required
                   ngModel
                   placeholder="Specify the city"
                   class="form-control"
                   #city="ngModel"/>
          </div>
        </div>
        <button class="btn btn-success btn-block"
                type="submit"
                [disabled]="!f.valid">Check</button>
      </form>
    </div>
    <div class="col-xs-6">
      <div class="col-xs-4">
      </div>
      <div class="col-xs-8">
        <img src={{result.icon_url}}>
      </div>
      <hr/>
      <hr/>
      <div class="panel panel-default" *ngIf="result !== ''">
        <div class="panel-body">Weather: {{result.weather}}</div>
        <div class="panel-body">Temprature: {{result.temperature_string}}</div>
        <div class="panel-body">Feels like: {{result.feelslike_string}}</div>
        <div class="panel-body">Wind: {{result.wind_string}}</div>
      </div>
    </div>
  </div>
  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">{{org.organization}}</h4>
        </div>
        <div class="modal-body">
          <p>{{org.intro}}</p>
        </div>
        <div class="modal-footer">
          <button *ngIf="!following && login" (click)="follow(user._id, org._id)" class="btn btn-lg sw-text-yellow pull-left sw-button-transparent glyphicon glyphicon-star-empty sw-button-transparent"></button>
          <button *ngIf="following && login && user.role !== 'organization'" class="btn btn-lg sw-text-yellow pull-left sw-button-transparent glyphicon glyphicon-star sw-button-transparent"></button>
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
</div>

