
<!-- top navbar-->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="row">
    <div class="col-xs-4 hidden-xs">
      <div class="container-fluid">
        <p class="navbar-text pull-left">
          <a routerLink="/user/{{uid}}/event"
             class="navbar-link sw-text-white">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
        </p>
        <a routerLink="/user/{{uid}}/event"
           class="pull-left navbar-brand thick">
          <b class="sw-text-white">Events</b>
        </a>
        <a routerLink="/user/{{uid}}/event/new"
           class="navbar-link navbar-text pull-right sw-icon-padding">
          <span class="glyphicon glyphicon-plus sw-text-white"></span>
        </a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8 pull-right">
      <div class="container-fluid">
        <a routerLink="/user/{{uid}}/event/{{wid}}"
           class="pull-left navbar-brand thick">
          <b class="sw-text-white">Event Detail</b>
        </a>
        <button type="submit"
                [disabled]="!f.valid"
                form="webForm"
                class="btn btn-xs sw-button-transparent navbar-link navbar-text pull-right sw-icon-padding">
          <span class="glyphicon glyphicon-ok sw-text-white"></span>
        </button>
      </div>
    </div>
  </div>
</nav>

<!--left events-->
<div class="container-fluid">
  <div class="row">
    <div class="col-xs-4 hidden-xs">
      <ul class="list-group">
        <li class="list-group-item sw-borderless"
            *ngFor="let event of events">
          <a class="sw-link"
             routerLink="/user/{{uid}}/event/{{event._id}}/detail">{{event.name}}</a>
          <a routerLink="/user/{{uid}}/event/{{event._id}}">
            <span class="glyphicon glyphicon-cog pull-right"></span>
          </a>
        </li>
      </ul>
    </div>

    <!--right editor-->
    <div class="col-sm-8 col-xs-12">
      <form (ngSubmit)="update()"
            #f ="ngForm"
            id="webForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text"
                 id="name"
                 name="name"
                 readonly
                 placeholder="any name"
                 ngModel="{{event.name}}"
                 #name="ngModel"
                 class="form-control"/>
        </div>
        <div class="form-group">
          <label for="description">Event Desciption</label>
          <textarea id="description"
                    name="description"
                    rows="5"
                    readonly
                    placeholder="anything related to this event"
                    ngModel="{{event.description}}"
                    #description="ngModel"
                    class="form-control"></textarea>
        </div>
        <div class="row">
          <div class="col-xs-4" *ngIf="user.role !== 'organization'">
            <a (click)="rsvp()"
               class="btn btn-success btn-block">RSVP</a>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Footer -->
<nav class="navbar navbar-inverse navbar-fixed-bottom">
  <div class="container-fluid">
    <a routerLink="/user"
       class="navbar-text pull-right">
      <span class="glyphicon glyphicon-user sw-icon-padding sw-text-white"></span>
    </a>
  </div>
</nav>
